# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.sln
*.vcxproj
*.filters
*.user
-OFF-/-OFF-/Debug/-OFF-.log
-OFF-/-OFF-/Debug/-OFF-.tlog/-OFF-.lastbuildstate
-OFF-/-OFF-/Debug/-OFF-.tlog/CL.command.1.tlog
-OFF-/-OFF-/Debug/-OFF-.tlog/CL.read.1.tlog
*.tlog
*.enc
*.idb
*.pdb
*.log
*.db
*.opendb
-OFF-/.vs/-OFF-/v16/.suo
*.ipch
